---
import PageLayout from "@/layouts/Base";
import { Image } from "astro:assets";
import aboutImg from "~/assets/about-hedrive.jpg";

const meta = {
	title: "Oops! You found a missing page!",
	description: "Oops! It looks like this page is lost in space!",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">404 | Page not found</h1>
	<p class="mb-8">Please use the navigation to find your way back</p>
	<p class="mb-8">If you're feeling generous, lemme know what's broken <a href="mailto:hey@stephaniefroehner.com">hey@stephaniefroehner.com</a></p>
	<div class="my-4 grid justify-center">
		<Image
			src={aboutImg}
			alt="A small brown dog sits in the drivers seat of a car, McDonalds is blurry in the background"
			loading="eager"
		/>
	</div>
  <p class="mb-8">I hope this photo of my dog Worf trying to drive-thru McDonald’s makes up for this inconvenience.</p>
</PageLayout>
