---
import PageLayout from "@/layouts/Base";
import { Image } from "astro:assets";
import aboutImg from "~/assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">I'm a designer</h1>
		<p>
			I solve problems with curiosity. That means research, observation, conversations and co-creation with my users, cross-functional collaboration with my team, and lots of experimentation.
    </p>
    <p>
      I've enjoyed working in complex industries (like healthcare, legal, and traffic control services) and thinking about large-scale work that results in making someone’s day a little easier, their job a little better, or their dream a little closer to reality. I'm currently at a small startup changing the way 401ks are managed. 
    </p>
    <p>
      Over my career, I’ve been a bit of a Goldilocks and alternated between small startups and large corporations. I’ve been the first designer and built a design team, and I’ve joined a large group of design specialists. I’m currently at that “just right” company size and design team maturity at Cityblock Health as a Senior Product Designer.
    </p>
    <p>
      If you’d like to get in touch, please fill out the form below or connect on LinkedIn.
		</p>
		<div class="flex justify-center">
			<Image
				src={aboutImg}
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				loading="eager"
				fetchpriority="high"
			/>
		</div>
		<p>Here are my some of my awesome built in features:</p>
		<ul class="list-inside list-disc">
			<li>I'm ultra fast as I'm a static site</li>
			<li>I'm fully responsive</li>
			<li>I come with a light and dark mode</li>
			<li>I'm easy to customise and add additional content</li>
			<li>I have Tailwind CSS styling</li>
			<li>Shiki code syntax highlighting</li>
			<li>Satori for auto generating OG images for blog posts</li>
		</ul>
		<p>
			Clone or fork my
			<a
				class="cactus-link inline-block"
				href="https://github.com/chrismwilliams/astro-cactus"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository"
			>
				repo
			</a> if you like me!
		</p>
	</div>
</PageLayout>
